<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.congguangzi.master_recycler">

    <application
        android:name=".app.MasterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="._1_loadmore.LoadMoreActivity" />
        <activity android:name="._2_loadmore_with_loading.LoadMoreWithLoadingActivity" />
        <activity android:name="._3_loadmore_grid_with_loading.LoadMoreGridActivity"></activity>
    </application>

</manifest>